build.*
acsi2stm-*
*.tos
*.prg
*.TOS
*.PRG
*.exe
*.bin
.DS_Store
pcb/MegaSTE Internal/fp-info-cache
*.gbl
*.gbs
*.gbp
*.gbo
*.gm1
*.gtl
*.gts
*.gtp
*.gto
*.gbr
*.drl
pcb/MegaSTE Internal/ACSI2STM MegaSTE-backups/*
